[Unit]
Description=SmartCore PROD — todos os serviços
Documentation=https://github.com/pwlimaverde/smart-core-assistant-v2
Requires=\
    smartcore-prod-data_redis.service \
    smartcore-prod-data_postgres.service \
    smartcore-prod-data_storage.service \
    smartcore-prod-control_plane.service \
    smartcore-prod-messaging_gateway.service \
    smartcore-prod-worker.service \
    smartcore-prod-runtime_api.service
After=\
    smartcore-prod-data_redis.service \
    smartcore-prod-data_postgres.service \
    smartcore-prod-data_storage.service \
    smartcore-prod-control_plane.service \
    smartcore-prod-messaging_gateway.service \
    smartcore-prod-worker.service \
    smartcore-prod-runtime_api.service

[Install]
WantedBy=multi-user.target
